.aej-sec {
  width: 100vw;
  height: 180vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 4rem;
  background-color: #fff !important;
  /* background-image: linear-gradient(120deg, #b1cdfa 0%, #c2e9fb 100%); */
  border-top-right-radius: 6rem;
  border-bottom-left-radius: 6rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
  box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.3);
}

.mobile-heading {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
  color: #000;
}

.mobile-heading span {
  color: #5b47b0;
}

.mobile-subheading {
  font-size: 1.2rem;
  width: 90%;
  font-weight: 300;
  text-align: center;
  color: var(--color-gray-dark);
  margin-bottom: 2rem;
}

.aej__container {
  max-width: 800px;
  height: fit-content;
  padding-left: 0.5rem;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}

.aej__tabs {
  display: flex;
  justify-content: center;
}

.aej__section {
  grid-template-columns: initial;
}

.aej__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 2.2rem;
}

.aej__title {
  font-size: 1.5rem;
  color: var(--color-purple);
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.aej__subtitle {
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.aej__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--color-purple);
  border-radius: 50%;
}

.aej__line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: #757575;
  transform: translate(6px, -7px);
}

@media only screen and (min-width: 1024px) and (max-width: 1040px) and (min-height: 1366px) and (max-height: 1380px) {
  .aej-sec {
    width: 100vw;
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 4rem;
    padding-bottom: 4rem;
    /* background-image: linear-gradient(120deg, #b1cdfa 0%, #c2e9fb 100%); */
    border-top-right-radius: 6rem;
    border-bottom-left-radius: 6rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
    box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.3);
  }

  .mobile-heading {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #000;
  }

  .mobile-heading span {
    color: #5b47b0;
  }

  .mobile-subheading {
    font-size: 1.5rem;
    width: 90%;
    font-weight: 300;
    text-align: center;
    color: var(--color-gray-dark);
    margin-bottom: 7rem;
  }

  .aej__container {
    max-width: 800px;
    height: fit-content;
    padding-left: 0.5rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
  }

  .aej__tabs {
    display: flex;
    justify-content: center;
  }

  .aej__section {
    grid-template-columns: initial;
  }

  .aej__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 2.2rem;
  }

  .aej__title {
    font-size: 1.8rem;
    color: var(--color-purple);
    font-weight: 600;
    margin-bottom: 1cqb;
  }

  .aej__subtitle {
    display: inline-block;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .aej__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--color-purple);
    border-radius: 50%;
  }

  .aej__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: #757575;
    transform: translate(6px, -7px);
  }
}

@media only screen and (min-width: 820px) and (max-width: 1025px) and (min-height: 1180px) and (max-height: 1367px) {
  .aej-sec {
    width: 100vw;
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 4rem;
    padding-bottom: 4rem;
    /* background-image: linear-gradient(120deg, #b1cdfa 0%, #c2e9fb 100%); */
    border-top-right-radius: 6rem;
    border-bottom-left-radius: 6rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
    box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.3);
  }

  .mobile-heading {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #000;
  }

  .mobile-heading span {
    color: #5b47b0;
  }

  .mobile-subheading {
    font-size: 1.25rem;
    width: 90%;
    font-weight: 300;
    text-align: center;
    color: var(--color-gray-dark);
    margin-bottom: 7rem;
  }

  .aej__container {
    max-width: 800px;
    height: fit-content;
    padding-left: 0.5rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
  }

  .aej__tabs {
    display: flex;
    justify-content: center;
  }

  .aej__section {
    grid-template-columns: initial;
  }

  .aej__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 2.2rem;
  }

  .aej__title {
    font-size: 1.7rem;
    color: var(--color-purple);
    font-weight: 600;
    margin-bottom: 1cqb;
  }

  .aej__subtitle {
    display: inline-block;
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .aej__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--color-purple);
    border-radius: 50%;
  }

  .aej__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: #757575;
    transform: translate(6px, -7px);
  }
}

@media only screen and (max-width: 768px) and (max-height: 1060px) {
  .aej-sec {
    width: 100vw;
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 4rem;
    padding-bottom: 4rem;
    /* background-image: linear-gradient(120deg, #b1cdfa 0%, #c2e9fb 100%); */
    border-top-right-radius: 6rem;
    border-bottom-left-radius: 6rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
    box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.3);
  }

  .mobile-heading {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #000;
  }

  .mobile-heading span {
    color: #5b47b0;
  }

  .mobile-subheading {
    font-size: 1.1rem;
    width: 80%;
    font-weight: 300;
    text-align: center;
    color: var(--color-gray-dark);
    margin-bottom: 5rem;
  }

  .aej__container {
    max-width: 800px;
    height: fit-content;
    padding-left: 0.5rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
  }

  .aej__tabs {
    display: flex;
    justify-content: center;
  }

  .aej__section {
    grid-template-columns: initial;
  }

  .aej__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 2.2rem;
  }

  .aej__title {
    font-size: 1.6rem;
    color: var(--color-purple);
    font-weight: 600;
    margin-bottom: 1cqb;
  }

  .aej__subtitle {
    display: inline-block;
    font-size: 1.15rem;
    margin-bottom: 1rem;
  }

  .aej__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--color-purple);
    border-radius: 50%;
  }

  .aej__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: #757575;
    transform: translate(6px, -7px);
  }
}

@media only screen and (max-width: 660px) {
  .aej-sec {
    width: 100vw;
    height: 180vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
    background-color: #f1f1fb !important;
    border-top-right-radius: 6rem;
    border-bottom-left-radius: 6rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
    box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.3);
  }

  .mobile-heading {
    font-size: 2.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
    color: #000;
  }

  .mobile-heading span {
    color: #5b47b0;
  }

  .mobile-subheading {
    font-size: 1rem;
    width: 90%;
    font-weight: 300;
    text-align: center;
    color: var(--color-gray-dark);
    margin-bottom: 2rem;
  }

  .aej__container {
    max-width: 800px;
    height: fit-content;
    padding-left: 0.5rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
  }

  .aej__tabs {
    display: flex;
    justify-content: center;
  }

  .aej__section {
    grid-template-columns: initial;
  }

  .aej__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 2.2rem;
  }

  .aej__title {
    font-size: 1.5rem;
    color: var(--color-purple);
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  .aej__subtitle {
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .aej__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--color-purple);
    border-radius: 50%;
  }

  .aej__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: #757575;
    transform: translate(6px, -7px);
  }
}

@media only screen and (max-width: 420px) {
  .aej-sec {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
    background-color: #f1f1fb !important;
    border-top-right-radius: 6rem;
    border-bottom-left-radius: 6rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
    box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.3);
  }

  .mobile-heading {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-align: center;
    max-width: 80%;
    color: #000;
    font-family: "outfit", sans-serif;
  }

  .mobile-heading span {
    color: #5b47b0;
    font-family: "outfit", sans-serif;
  }

  .mobile-subheading {
    font-size: 1rem;
    max-width: 90%;
    font-weight: 300;
    text-align: center;
    color: var(--color-gray-dark);
    margin-bottom: 2rem;
    font-family: "outfit", sans-serif;
  }

  .aej__container {
    max-width: 800px;
    height: fit-content;
    padding-left: 0.5rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
  }

  .aej__tabs {
    display: flex;
    justify-content: center;
  }

  .aej__section {
    grid-template-columns: initial;
  }

  .aej__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 2.2rem;
  }

  .aej__title {
    font-size: 1.4rem;
    color: var(--color-purple);
    font-weight: 500;
    margin-bottom: 0.5rem;
    font-family: "outfit", sans-serif;
  }

  .aej__subtitle {
    display: inline-block;
    font-size: 0.95rem;
    margin-bottom: 1rem;
    font-family: "outfit", sans-serif;
  }

  .aej__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--color-purple);
    border-radius: 50%;
  }

  .aej__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: #757575;
    transform: translate(6px, -7px);
  }
}

@media only screen and (max-width: 380px) {
  .aej-sec {
    width: 100vw;
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
    background-color: #f1f1fb !important;
    border-top-right-radius: 6rem;
    border-bottom-left-radius: 6rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
    box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.3);
  }

  .mobile-heading {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-align: center;
    max-width: 80%;
    color: #000;
    font-family: "outfit", sans-serif;
  }

  .mobile-heading span {
    color: #5b47b0;
    font-family: "outfit", sans-serif;
  }

  .mobile-subheading {
    font-size: 0.8rem;
    max-width: 80%;
    font-weight: 300;
    text-align: center;
    color: var(--color-gray-dark);
    margin-bottom: 2rem;
    font-family: "outfit", sans-serif;
  }

  .aej__container {
    max-width: 800px;
    height: fit-content;
    padding-left: 0.5rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
  }

  .aej__tabs {
    display: flex;
    justify-content: center;
  }

  .aej__section {
    grid-template-columns: initial;
  }

  .aej__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 2.2rem;
  }

  .aej__title {
    font-size: 1.2rem;
    color: var(--color-purple);
    font-weight: 500;
    margin-bottom: 0.5rem;
    font-family: "outfit", sans-serif;
  }

  .aej__subtitle {
    display: inline-block;
    font-size: 0.8rem;
    font-family: "outfit", sans-serif;
    margin-bottom: 1rem;
  }

  .aej__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--color-purple);
    border-radius: 50%;
  }

  .aej__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: #757575;
    transform: translate(6px, -7px);
  }
}
