:root {
  --color-white: #fff;
  --color-gray-dark: #3d3d3d;
  --color-gray: #818181;
  --color-text-secondary: #666;
  --color-agreement: #777;
  --color-purple: #5b47b0;
  --color-cta-bg: #816bde;
  --color-cta-hover: #5727c9;
  --color-bubble: #f6f2fe;
  --color-bubble2: #7843fc9b;
  --color-input-border: #ccc;
  --color-input-focus: #6a33f8;
}

.curriculum-sec {
  width: 100vw;
  margin: 0 0 2rem 0;
  background-color: #fff;
  position: relative;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
    rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
    rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
    rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
    rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}

.curriculum-heading {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

.curriculum-title {
  font-size: 2.2rem;
  font-family: "Outfit", sans-serif;
  margin-bottom: 1.2rem;
  font-weight: 600;
}

.curriculum-title span {
  color: var(--color-purple);
}

.curriculum-sub-heading {
  font-size: 1.25rem;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: #666;
  max-width: 820px;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.curriculum-container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.curriculum-left-panel {
  flex: 1;
  background-color: var(--color-white);
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.left-panel-heading {
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--color-purple);
  border-bottom: 2px solid var(--color-purple);
  padding-bottom: 0.5rem;
}

.module-item {
  padding: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  border-radius: 8px;
  background-color: transparent;
}

.module-item-active {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.module-title {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0 0 0.3rem 0;
  font-size: 1.1rem;
}

.module-description {
  margin: 0;
  font-size: 0.9rem;
  color: var(--color-gray);
}

.duration {
  font-weight: 500;
  color: var(--color-purple);
}

.curriculum-right-panel {
  flex: 2;
  background-color: var(--color-white);
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.right-panel-heading {
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--color-purple);
  border-bottom: 2px solid var(--color-purple);
  padding-bottom: 0.5rem;
}

.curriculum-section {
  margin-bottom: 2.5rem;
}

.section-title {
  margin-bottom: 0.75rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--color-gray-dark);
  border-left: 4px solid var(--color-purple);
  padding-left: 0.5rem;
}

.curriculum-details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
}

.curriculum-details-grid .curriculum-section ul {
  list-style-type: disc;
  margin-left: 1.5rem;
}

.curriculum-details-grid .curriculum-section li {
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
  color: var(--color-text-secondary);
}

.curriculum-section ul {
  list-style-type: disc;
  margin-left: 1.5rem;
}

.curriculum-section li {
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
  color: var(--color-text-secondary);
}

@media only screen and (min-width: 96em) {
  .curriculum-sec {
    width: 100vw;
    margin: 0 0 2rem 0;
    background-color: #fff;
    position: relative;
  }

  .curriculum-heading {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }

  .curriculum-title {
    font-size: 2.2rem;
    font-family: "Outfit", sans-serif;
    margin-bottom: 1.5rem;
    font-weight: 500;
  }

  .curriculum-title span {
    color: var(--color-purple);
  }

  .curriculum-sub-heading {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 2.5rem;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .curriculum-container {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .curriculum-left-panel {
    flex: 1;
    background-color: var(--color-white);
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  .left-panel-heading {
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--color-purple);
    border-bottom: 2px solid var(--color-purple);
    padding-bottom: 0.5rem;
  }

  .module-item {
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    border-radius: 8px;
    background-color: transparent;
  }

  .module-item-active {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  }

  .module-title {
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0 0 0.3rem 0;
    font-size: 1.1rem;
  }

  .module-description {
    margin: 0;
    font-size: 0.9rem;
    color: var(--color-gray);
  }

  .duration {
    font-weight: 500;
    color: var(--color-purple);
  }

  .curriculum-right-panel {
    flex: 2;
    background-color: var(--color-white);
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  .right-panel-heading {
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--color-purple);
    border-bottom: 2px solid var(--color-purple);
    padding-bottom: 0.5rem;
  }

  .curriculum-section {
    margin-bottom: 2.5rem;
  }

  .section-title {
    margin-bottom: 0.75rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--color-gray-dark);
    border-left: 4px solid var(--color-purple);
    padding-left: 0.5rem;
  }

  .curriculum-details-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
  }

  .curriculum-details-grid .curriculum-section ul {
    list-style-type: disc;
    margin-left: 1.5rem;
  }

  .curriculum-details-grid .curriculum-section li {
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
    color: var(--color-text-secondary);
  }

  .curriculum-section ul {
    list-style-type: disc;
    margin-left: 1.5rem;
  }

  .curriculum-section li {
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
    color: var(--color-text-secondary);
  }
}

@media only screen and (min-width: 1024px) and (min-height: 1366px) {
  .curriculum-sec {
    width: 100vw;
    margin: 0 0 2rem 0;
    background-color: #fff;
    position: relative;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
      rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
      rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
      rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
      rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
      rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  }

  .curriculum-heading {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }

  .curriculum-title {
    font-size: 2.5rem;
    font-family: "Outfit", sans-serif;
    margin-bottom: 1.2rem;
    font-weight: 600;
  }

  .curriculum-title span {
    color: var(--color-purple);
  }

  .curriculum-sub-heading {
    font-size: 1.3rem;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: #666;
    max-width: 820px;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .curriculum-container {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .curriculum-left-panel {
    flex: 1;
    background-color: var(--color-white);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  .left-panel-heading {
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--color-purple);
    border-bottom: 2px solid var(--color-purple);
    padding-bottom: 0.5rem;
  }

  .module-item {
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    border-radius: 8px;
    background-color: transparent;
  }

  .module-item-active {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  }

  .module-title {
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0 0 0.3rem 0;
    font-size: 1.1rem;
  }

  .module-description {
    margin: 0;
    font-size: 0.9rem;
    color: var(--color-gray);
  }

  .duration {
    font-weight: 500;
    color: var(--color-purple);
  }

  .curriculum-right-panel {
    flex: 2;
    background-color: var(--color-white);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  .right-panel-heading {
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--color-purple);
    border-bottom: 2px solid var(--color-purple);
    padding-bottom: 0.5rem;
  }

  .curriculum-section {
    margin-bottom: 2.5rem;
  }

  .section-title {
    margin-bottom: 0.75rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--color-gray-dark);
    border-left: 4px solid var(--color-purple);
    padding-left: 0.5rem;
  }

  .curriculum-details-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
  }

  .curriculum-details-grid .curriculum-section ul {
    list-style-type: disc;
    margin-left: 1.5rem;
  }

  .curriculum-details-grid .curriculum-section li {
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
    color: var(--color-text-secondary);
  }

  .curriculum-section ul {
    list-style-type: disc;
    margin-left: 1.5rem;
  }

  .curriculum-section li {
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
    color: var(--color-text-secondary);
  }
}

@media only screen and (max-width: 820px) {
  .curriculum-sec {
    width: 100vw;
    margin: 0 0 2rem 0;
    background-color: #fff;
    position: relative;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
      rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
      rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
      rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
      rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
      rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  }

  .curriculum-heading {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }

  .curriculum-title {
    font-size: 2rem;
    font-family: "Outfit", sans-serif;
    margin-bottom: 1.2rem;
    font-weight: 600;
  }

  .curriculum-title span {
    color: var(--color-purple);
  }

  .curriculum-sub-heading {
    font-size: 1.2rem;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: #666;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .curriculum-container {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .curriculum-left-panel {
    flex: 1;
    background-color: var(--color-white);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  .left-panel-heading {
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--color-purple);
    border-bottom: 2px solid var(--color-purple);
    padding-bottom: 0.5rem;
  }

  .module-item {
    padding: 1rem 0.5rem;
    margin-bottom: 0.8rem;
    cursor: pointer;
    border-radius: 8px;
    background-color: transparent;
  }

  .module-item-active {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  }

  .module-title {
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0 0 0.3rem 0;
  }

  .module-description {
    margin: 0;
    font-size: 0.9rem;
    color: var(--color-gray);
  }

  .duration {
    font-weight: 500;
    color: var(--color-purple);
  }

  .curriculum-right-panel {
    flex: 2;
    background-color: var(--color-white);
    padding: 1rem 0.5rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  .right-panel-heading {
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--color-purple);
    border-bottom: 2px solid var(--color-purple);
    padding-bottom: 0.5rem;
  }

  .curriculum-section {
    margin-bottom: 2.5rem;
  }

  .section-title {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--color-gray-dark);
    border-left: 4px solid var(--color-purple);
    padding-left: 0.5rem;
  }

  .curriculum-details-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
  }

  .curriculum-details-grid .curriculum-section ul {
    list-style-type: disc;
    margin-left: 1.5rem;
  }

  .curriculum-details-grid .curriculum-section li {
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
    color: var(--color-text-secondary);
  }

  .curriculum-section ul {
    list-style-type: disc;
    margin-left: 1.5rem;
  }

  .curriculum-section li {
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
    color: var(--color-text-secondary);
  }
}

/* @media only screen and (max-width: 660px) {
  .curriculum-sec {
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #f5fefd;
  }

  .curriculum-heading {
    text-align: center;
    margin-bottom: 2rem;
  }

  .curriculum-title {
    font-size: 2rem;
    font-family: "Outfit", sans-serif;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }

  .curriculum-title span {
    color: var(--color-purple);
  }

  .curriculum-sub-heading {
    font-size: 1.2rem;
    font-family: "Outfit", sans-serif;
    color: #666;
    max-width: 700px;
    margin: 0 auto 2rem;
  }

  .curriculum-accordion {
    width: 100%;
  }

  .accordion-item {
    border-bottom: 1px solid #ddd;
    padding: 1rem 0;
  }

  .accordion-header {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s;
    padding: 0.5rem;
  }

  .accordion-header:hover {
    background-color: #e7f0fa;
  }

  .accordion-header h4 {
    margin: 0;
    font-size: 1.1rem;
    font-weight: bold;
  }

  .accordion-header p {
    margin: 0.5rem 0 0;
    font-size: 0.95rem;
    color: #666;
  }

  .accordion-content {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #fff;
    border-left: 4px solid var(--color-purple);
  }

  .curriculum-section {
    margin-bottom: 1rem;
  }

  .section-title {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 0.5rem;
    border-left: 4px solid var(--color-purple);
    padding-left: 0.5rem;
  }

  .curriculum-section ul {
    list-style-type: disc;
    margin-left: 1.5rem;
  }

  .curriculum-section li {
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
    color: #555;
  }

  .duration {
    font-weight: 500;
    color: var(--color-purple);
  }
} */

/* @media screen and (max-width: 390px) {
} */
