.custom-dropdown {
  position: relative;
  width: 100%;
  margin-bottom: 1.5rem;
  margin-top: -0.1rem;
}

.dropdown-header {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 0.75rem;
  background-color: #fff;
  cursor: pointer;
  font-size: 0.9rem;
  color: hsl(0, 0%, 46%);
  outline: none;
}

.dropdown-header:hover {
  border-color: #6a33f8;
}

.dropdown-list {
  position: absolute;
  top: 3.2rem;
  left: 0;
  width: 100%;
  max-height: 12rem;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  z-index: 999;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  margin: 0;
  padding: 0.5rem 0;
  list-style: none;
}

.dropdown-list-item {
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
  color: #666;
  cursor: pointer;
  transition: background 0.2s ease;
}

.dropdown-list-item:hover {
  border-radius: 2rem;
  background-color: #816bde;
  color: #fff;
}

.contact__form-div {
  position: relative;
  margin-bottom: 0.3rem;
  height: 4rem;
}

.contact__form-input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: none;
  color: hsl(0, 0%, 46%);
  outline: none;
  border-radius: 0.75rem;
  padding: 1rem;
  margin-bottom: -2rem;
}

.contact__form-tag {
  position: absolute;
  top: -0.75rem;
  left: 1.25rem;
  font-size: 0.875rem;
  padding: 0.25rem;
  z-index: 10;
  background: var(--color-white);
}
