/* :root {
  --color-white: #fff;
  --color-black: #000;
  --color-gray-dark: #090909;
  --color-gray: #666;
  --color-gray-light: #6c6c6c;
  --color-bg-left: #b8a8f687;
  --color-bg-right: #b8a8f687;
  --color-circle1: #b1e2c5;
  --color-circle2: #feedb4;
  --color-circle3: #fecbc5;
  --color-circle4: #abb3fe;
  --color-blue: #0b1998;
  --color-purple: #5b47b0;
  --color-bg-feature: #f7f7f7;
}

.qualification__container {
  max-width: 800px;
  height: 60vh;
  margin-top: 2rem;
}

.qualification__tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}


.qualification__section {
  display: grid;
  grid-template-columns: 0.5fr;
  justify-content: center;
}


.qualification__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}


.qualification__title {
  font-size: 1.6rem;
  color: var(--color-purple);
  font-weight: 500;
}

.qualification__subtitle {
  display: inline-block;
  font-size: 14px; 
  margin-bottom: 16px;
}


.qualification__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: #757575;
  border-radius: 50%;
}

.qualification__line {
  display: block;
  width: 1px;
  height: 180%;
  background-color: #757575; 
  transform: translate(6px, -7px);
}

@media screen and (max-width: 768px) {
  .qualification__container {
    max-width: 800px;
    height: 60vh;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .qualification__tabs {
    display: flex;
    justify-content: center;
  }

  .qualification__section {
    display: grid;
    grid-template-columns: 0.5fr;
    justify-content: center;
    margin-top: -2rem;
  }

  .qualification__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 2.2rem;
  }

  .qualification__title {
    font-size: 1.7rem;
    color: var(--color-purple);
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  .qualification__subtitle {
    display: inline-block;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }

  .qualification__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: #757575;
    border-radius: 50%;
  }

  .qualification__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: #757575;
    transform: translate(6px, -7px);
  }
}

@media screen and (max-width: 576px) {
  .qualification__section {
    grid-template-columns: initial;
  }
}

@media screen and (max-width: 350px) {
  .qualification__data {
    gap: 0.5rem;
  }
} */
