:root {
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #666;
  --color-gray-dark: #090909;
  --purple-bg: #5b47b0;
  --box-shadow-light: 0 0 15px rgba(0, 0, 0, 0.1);
}

.faq-section {
  width: 100vw;
  height: fit-content;
  background: white;
  box-sizing: border-box;
  display: flex;
  padding-top: 3rem;
  padding-bottom: 3rem;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  border-top: 1px solid #ddd;
  margin-top: -0.5rem !important;
}

.heading-faq {
  width: 800px;
  height: 10rem;
  margin-bottom: 1rem;
  text-align: center;
}
.heading-faq p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #666;
}

.faq-title {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}
.faq-title span {
  color: var(--purple-bg);
}

.faq-item.open {
  border-color: #bbb;
}

.faq-tabs {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.faq-tab {
  background: transparent;
  border: none;
  color: #666;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: color 0.3s;
}

.faq-tab:hover {
  color: var(--purple-bg);
}

.active-tab {
  color: var(--purple-bg);
  font-weight: 600;
}

.faq-icon {
  width: 1.2rem;
  height: 1.2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
}

.faq-container {
  width: 100%;
  max-width: 800px;
  max-height: fit-content;
  margin: auto;
  margin-top: 1rem;
  overflow-y: auto;
  padding: 2rem;
  box-sizing: border-box;
}

.faq-container::-webkit-scrollbar {
  display: none;
}

.faq-item {
  background-color: #ffffff;
  margin-bottom: 1rem;
  padding: 0.7rem;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  transition: all 0.3s ease;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq-question h3 {
  font-size: 1rem;
  font-weight: 400;
  color: #333;
}

.toggle {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.faq-toggle {
  font-size: 1rem;
  font-weight: 400;
  color: blue;
}

.faq-answer {
  padding: 1rem 0;
  line-height: 1.3;
  animation: slideDown 0.3s ease;
}

.faq-answer p {
  font-size: 0.9rem;
  font-weight: 300;
  color: #555;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (min-width: 96em) {
  .faq-section {
    width: 100vw;
    height: fit-content;
    background: white;
    box-sizing: border-box;
    display: flex;
    padding-top: 1rem;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
  }

  .heading-faq {
    width: 800px;
    height: 10rem;
    text-align: center;
    margin-top: 2rem;
  }
  .heading-faq p {
    font-size: 1.2rem;
    font-weight: 400;
    color: #666;
  }

  .faq-title {
    font-size: 2.2rem;
    font-family: "Outfit", sans-serif;
    margin-bottom: 1.5rem;
    font-weight: 500;
  }
  .faq-title span {
    color: var(--purple-bg);
  }

  .faq-container {
    width: 100%;
    max-width: 800px;
    max-height: 100%;
    margin: auto;
    margin-top: 2rem;
    overflow-y: auto;
    padding: 2rem;
    box-sizing: border-box;
  }

  .faq-container::-webkit-scrollbar {
    display: none;
  }

  .faq-item {
    background-color: #ffffff;
    margin-bottom: 1rem;
    padding: 0.7rem;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .faq-question h3 {
    font-size: 1rem;
    font-weight: 400;
    color: #333;
  }

  .toggle {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .faq-toggle {
    font-size: 1rem;
    font-weight: 400;
    color: blue;
  }

  .faq-answer {
    padding: 1rem 0;
    line-height: 1.3;
    animation: slideDown 0.3s ease;
  }

  .faq-answer p {
    font-size: 0.9rem;
    font-weight: 300;
    color: #555;
  }

  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .faq-item.open {
    border-color: #bbb;
  }
}

@media only screen and (min-width: 1024px) and (min-height: 1366px) {
  .faq-section {
    width: 100vw;
    height: fit-content !important;
    background: white;
    box-sizing: border-box;
    display: flex;
    padding-top: 3rem;
    padding-bottom: 3rem;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    box-shadow: var(--box-shadow-light);
  }

  .heading-faq {
    width: 800px;
    height: 10rem;
    text-align: center;
  }
  .heading-faq p {
    font-size: 1.2rem;
    font-weight: 400;
    color: #666;
  }

  .faq-title {
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: center;
  }
  .faq-title span {
    color: var(--purple-bg);
  }

  .faq-container {
    width: 100%;
    max-width: 800px;
    max-height: 100%;
    margin: auto;
    margin-top: 2rem;
    overflow-y: auto;
    padding: 2rem;
    box-sizing: border-box;
    box-shadow: none !important;
  }

  .faq-container::-webkit-scrollbar {
    display: none;
  }

  .faq-item {
    background-color: #ffffff;
    margin-bottom: 1.5rem !important;
    padding: 0.7rem;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .faq-question h3 {
    font-size: 1.2rem !important;
    font-weight: 400;
    color: #333;
  }

  .toggle {
    width: 1.5rem !important;
    height: 1.5rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .faq-toggle {
    font-size: 1.2rem !important;
    font-weight: 400;
    color: blue;
  }

  .faq-answer {
    padding: 1rem 0;
    line-height: 1.3;
    animation: slideDown 0.3s ease;
  }

  .faq-answer p {
    font-size: 1rem !important;
    font-weight: 300;
    color: #555;
  }

  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .faq-item.open {
    border-color: #bbb;
  }
}

@media only screen and (min-width: 820px) and (max-width: 1025px) and (min-height: 1180px) and (max-height: 1367px) {
  .faq-section {
    width: 100vw;
    height: 75vh;
    background: white;
    box-sizing: border-box;
    display: flex;
    padding-top: 3rem;
    padding-bottom: 3rem;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    box-shadow: var(--box-shadow-light);
  }

  .heading-faq {
    text-align: center;
  }

  .faq-title {
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: center;
  }
  .faq-title span {
    color: var(--purple-bg);
  }
  .heading-faq p {
    font-size: 1.2rem;
    font-weight: 400;
    color: #666;
  }

  .faq-container {
    width: 100%;
    max-width: 780px;
    max-height: 100%;
    margin: auto;
    margin-top: 2rem;
    overflow-y: auto;
    padding: 2rem;
    box-sizing: border-box;
    box-shadow: none !important;
  }

  .faq-container::-webkit-scrollbar {
    display: none;
  }

  .faq-item {
    background-color: #ffffff;
    margin-bottom: 1.2rem;
    padding: 0.7rem;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .faq-question h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
    color: #333;
  }

  .toggle {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .faq-toggle {
    font-size: 1rem;
    font-weight: 400;
    color: blue;
  }

  .faq-answer {
    padding: 1rem 0;
    line-height: 1.3;
    animation: slideDown 0.3s ease;
  }

  .faq-answer p {
    font-size: 1rem;
    font-weight: 300;
    color: #555;
  }

  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .faq-item.open {
    border-color: #bbb;
  }
}

@media only screen and (max-width: 768px) and (max-height: 1060px) {
  .faq-section {
    width: 100vw;
    height: fit-content;
    background: white;
    box-sizing: border-box;
    display: flex;
    padding-top: 3rem;
    padding-bottom: 3rem;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    margin-top: 10rem;
    box-shadow: var(--box-shadow-light);
  }

  .heading-faq {
    min-width: 600px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .heading-faq p {
    font-size: 1rem;
    font-weight: 400;
    color: #666;
  }

  .faq-title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: center;
  }
  .faq-title span {
    color: var(--purple-bg);
  }

  .faq-container {
    width: 100%;
    max-width: 820px;
    max-height: 100%;
    margin: auto;
    margin-top: 1rem;
    overflow-y: auto;
    padding: 2rem;
    box-sizing: border-box;
  }

  .faq-container::-webkit-scrollbar {
    display: none;
  }

  .faq-item {
    background-color: #ffffff;
    margin-bottom: 1rem;
    padding: 0.7rem;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .faq-question h3 {
    font-size: 1rem;
    font-weight: 400;
    color: #333;
  }

  .toggle {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .faq-toggle {
    font-size: 1rem;
    font-weight: 400;
    color: blue;
  }

  .faq-answer {
    padding: 1rem 0;
    line-height: 1.3;
    animation: slideDown 0.3s ease;
  }

  .faq-answer p {
    font-size: 0.9rem;
    font-weight: 300;
    color: #555;
  }

  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .faq-item.open {
    border-color: #bbb;
  }
}

@media only screen and (max-width: 660px) {
  .faq-section {
    width: 100vw;
    height: fit-content;
    background: white;
    box-sizing: border-box;
    display: flex;
    padding-top: 3rem;
    padding-bottom: 1rem !important;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    box-shadow: var(--box-shadow-light);
  }

  .heading-faq {
    min-width: 0 !important;
    max-width: 410px !important;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .heading-faq h2 {
    font-size: 2rem;
    font-weight: 600;
  }

  .heading-faq p {
    font-size: 1.25rem;
    font-weight: 400;
    color: #666;
  }

  .faq-title {
    font-size: 1.6rem !important;
    font-weight: 600 !important;
    margin-bottom: 1rem;
    text-align: center;
  }
  .faq-title span {
    color: var(--purple-bg);
  }

  .faq-tabs {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .faq-tab {
    font-size: 1rem;
    font-weight: 700;
  }

  .faq-icon {
    display: none !important;
  }

  .faq-container {
    width: 100%;
    max-width: 820px;
    max-height: fit-content;
    margin: auto;
    margin-top: 1rem;
    overflow-y: auto;
    padding: 1rem !important;
    box-sizing: border-box;
    box-shadow: none !important;
  }

  .faq-container::-webkit-scrollbar {
    display: none;
  }

  .faq-item {
    background-color: #ffffff;
    margin-bottom: 1rem;
    padding: 0.7rem;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .faq-question h3 {
    font-size: 1rem;
    font-weight: 400;
    color: #333;
  }

  .toggle {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--purple-bg);
    border-radius: 50%;
  }

  .faq-toggle {
    font-size: 1rem;
    font-weight: 400;
    color: var(--purple-bg);
  }

  .faq-answer {
    padding: 1rem 0;
    line-height: 1.3;
    animation: slideDown 0.3s ease;
  }

  .faq-answer p {
    font-size: 0.9rem;
    font-weight: 300;
    color: #555;
  }

  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .faq-item.open {
    border-color: #bbb;
  }
}

@media only screen and (max-width: 430px) {
  .faq-section {
    width: 100vw;
    height: fit-content;
    background: white;
    box-sizing: border-box;
    display: flex;
    padding-top: 3rem;
    padding-bottom: 0rem;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    box-shadow: var(--box-shadow-light);
  }

  .heading-faq {
    min-width: 0 !important;
    max-width: 300px !important;
    height: 10rem;
    text-align: center;
  }
  .heading-faq p {
    font-size: 1rem;
    font-weight: 400;
    color: #666;
  }

  .faq-title {
    font-size: 1.6rem !important;
    font-weight: 600 !important;
    margin-bottom: 1rem;
    text-align: center;
  }
  .faq-title span {
    color: var(--purple-bg);
  }

  .faq-tabs {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  .faq-tab {
    font-size: 0.8rem;
    font-weight: 700;
  }

  .faq-icon {
    display: none !important;
  }

  .faq-container {
    width: 100%;
    max-width: 800px;
    max-height: 100%;
    margin: auto;
    margin-top: 2rem;
    overflow-y: auto;
    padding: 2rem;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  .faq-container::-webkit-scrollbar {
    display: none;
  }

  .faq-item {
    background-color: #ffffff;
    margin-bottom: 1rem;
    padding: 0.7rem;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .faq-question h3 {
    font-size: 1rem;
    font-weight: 400;
    color: #333;
  }

  .toggle {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--purple-bg);
    border-radius: 50%;
  }

  .faq-toggle {
    font-size: 1rem;
    font-weight: 400;
    color: var(--purple-bg);
  }

  .faq-answer {
    padding: 1rem 0;
    line-height: 1.3;
    animation: slideDown 0.3s ease;
  }

  .faq-answer p {
    font-size: 0.9rem;
    font-weight: 300;
    color: #555;
  }

  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .faq-item.open {
    border-color: #bbb;
  }
}

@media only screen and (max-width: 380px) {
  .faq-section {
    width: 100vw;
    height: 100vh;
    background: white;
    box-sizing: border-box;
    display: flex;
    padding-top: 3rem;
    padding-bottom: 2rem;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    box-shadow: var(--box-shadow-light);
  }

  .heading-faq {
    min-width: 0 !important;
    max-width: 300px !important;
    height: 10rem;
    text-align: center;
  }
  .heading-faq p {
    font-size: 1rem;
    font-weight: 400;
    color: #666;
  }

  .faq-title {
    font-size: 1.4rem !important;
    font-weight: 500 !important;
    margin-bottom: 1rem;
    text-align: center;
  }
  .faq-title span {
    color: var(--purple-bg);
  }

  .faq-tabs {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  .faq-tab {
    font-size: 0.8rem;
    font-weight: 700;
  }

  .faq-icon {
    display: none !important;
  }

  .faq-container {
    width: 100%;
    max-width: 800px;
    max-height: 100%;
    margin: auto;
    margin-top: 2rem;
    overflow-y: auto;
    padding: 2rem;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  .faq-container::-webkit-scrollbar {
    display: none;
  }

  .faq-item {
    background-color: #ffffff;
    margin-bottom: 1rem;
    padding: 0.7rem;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .faq-question h3 {
    font-size: 1rem;
    font-weight: 400;
    color: #333;
  }

  .toggle {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--purple-bg);
    border-radius: 50%;
  }

  .faq-toggle {
    font-size: 1rem;
    font-weight: 400;
    color: var(--purple-bg);
  }

  .faq-answer {
    padding: 1rem 0;
    line-height: 1.3;
    animation: slideDown 0.3s ease;
  }

  .faq-answer p {
    font-size: 0.9rem;
    font-weight: 300;
    color: #555;
  }

  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .faq-item.open {
    border-color: #bbb;
  }
}
