:root {
  --color-white: #fff;
  --color-black: #000;
  --color-gray-dark: #090909;
  --color-gray: #666;
  --color-gray-light: #6c6c6c;
  --color-bg-left: #b8a8f687;
  --color-bg-right: #b8a8f687;
  --color-circle1: #b1e2c5;
  --color-circle2: #feedb4;
  --color-circle3: #fecbc5;
  --color-circle4: #abb3fe;
  --color-blue: #0b1998;
  --color-purple: #5b47b0;
  --color-bg-feature: #f7f7f7;
}

.why-different {
  position: relative;
  width: 1280px;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  height: 759px;
  padding: 4rem 3rem;
  background: transparent;
  text-align: center;
  background-size: 30px 30px;
}

.left-dotted-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  height: 40%;
  background-image: radial-gradient(var(--color-bg-left) 1px, transparent 1px);
  background-size: 20px 20px;
  z-index: 0;
}

.right-dotted-banner {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 85%;
  height: 40%;
  background-image: radial-gradient(var(--color-bg-right) 1px, transparent 1px);
  background-size: 20px 20px;
  z-index: 0;
}

.wd-heading {
  font-size: 2.2rem;
  font-family: "Outfit", sans-serif;
  margin-bottom: 1.2rem;
  font-weight: 600;
  color: var(--color-gray-dark);
}
.wd-heading span {
  color: var(--color-purple);
}
.wd-subheading {
  font-size: 1.2rem;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: #666;
  max-width: 800px;
  margin: 0 auto 10rem;
}

.feature-div {
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dotted-wave-img {
  position: absolute;
  top: 50%;
  left: 7rem;
  width: 80%;
  transform: translateY(-50%);
  z-index: 0;
  pointer-events: none;
}

.wd-feature1,
.wd-feature2,
.wd-feature3,
.wd-feature4 {
  position: relative;
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.wd-feature1 {
  top: 2rem;
}
.wd-feature2 {
  top: 5rem;
}
.wd-feature3 {
  left: -5rem;
  top: -1rem;
}
.wd-feature4 {
  top: 3.5rem;
}

.wd-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--color-bg-feature);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.wd-circle1 {
  background-color: var(--color-circle1);
}
.wd-circle2 {
  background-color: var(--color-circle2);
}
.wd-circle3 {
  background-color: var(--color-circle3);
}
.wd-circle4 {
  background-color: var(--color-circle4);
}

.wd-feature1 h4,
.wd-feature2 h4,
.wd-feature3 h4,
.wd-feature4 h4 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: var(--color-blue);
}

.reverse-pyramid {
  width: 300px;
  text-align: center;
}

.reverse-pyramid p {
  margin: 0;
  font-size: 1rem;
  color: var(--color-gray-light);
  font-weight: 500;
  line-height: 1.5;
}

.wd-img {
  width: 40%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
}

@media only screen and (min-width: 96em) {
  .why-different {
    position: relative;
    width: 1280px;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    height: 759px;
    padding: 4rem 3rem;
    background-color: var(--color-white);
    text-align: center;
    background-size: 30px 30px;
  }

  .left-dotted-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 40%;
    background-image: radial-gradient(
      var(--color-bg-left) 1px,
      transparent 1px
    );
    background-size: 20px 20px;
    z-index: 0;
  }

  .right-dotted-banner {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 85%;
    height: 40%;
    background-image: radial-gradient(
      var(--color-bg-right) 1px,
      transparent 1px
    );
    background-size: 20px 20px;
    z-index: 0;
  }

  .wd-heading {
    font-size: 2.2rem;
    font-family: "Outfit", sans-serif;
    margin-bottom: 1.2rem;
    font-weight: 500;
    color: var(--color-gray-dark);
  }

  .wd-subheading {
    font-size: 1.2rem;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: #666;
    max-width: 820px;
    margin: 0 auto 10rem;
  }

  .feature-div {
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .dotted-wave-img {
    position: absolute;
    top: 50%;
    left: 7rem;
    width: 90%;
    transform: translateY(-50%);
    z-index: 0;
    pointer-events: none;
  }

  .wd-feature1,
  .wd-feature2,
  .wd-feature3,
  .wd-feature4 {
    position: relative;
    width: 17%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    /* border: 1px solid black; */
  }

  .wd-feature1 {
    top: 2rem;
    right: 1rem;
  }
  .wd-feature2 {
    top: 6.5rem;
  }
  .wd-feature3 {
    left: -3rem;
    top: -2rem;
  }
  .wd-feature4 {
    top: 7rem;
    left: 3.5rem;
  }

  .wd-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--color-bg-feature);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }

  .wd-circle1 {
    background-color: var(--color-circle1);
  }
  .wd-circle2 {
    background-color: var(--color-circle2);
  }
  .wd-circle3 {
    background-color: var(--color-circle3);
  }
  .wd-circle4 {
    background-color: var(--color-circle4);
  }

  .wd-feature1 h4,
  .wd-feature2 h4,
  .wd-feature3 h4,
  .wd-feature4 h4 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: var(--color-blue);
  }

  .reverse-pyramid {
    width: 300px;
    text-align: center;
  }

  .reverse-pyramid p {
    margin: 0;
    font-size: 1rem;
    color: var(--color-gray-light);
    font-weight: 500;
    line-height: 1.5;
  }

  .wd-img {
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
  }
}

@media only screen and (width: 1024px) and (height: 1366px) {
  .why-different {
    position: relative;
    width: 920px;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    height: 669px;
    padding: 2rem 2rem;
    background-color: var(--color-white);
    text-align: center;
    background-size: 10px 10px;
  }

  .left-dotted-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 40%;
    background-image: radial-gradient(
      var(--color-bg-left) 1px,
      transparent 1px
    );
    background-size: 20px 20px;
    z-index: 0;
  }

  .right-dotted-banner {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 85%;
    height: 40%;
    background-image: radial-gradient(
      var(--color-bg-right) 1px,
      transparent 1px
    );
    background-size: 20px 20px;
    z-index: 0;
  }

  .wd-heading {
    font-size: 2.2rem;
    font-family: "Outfit", sans-serif;
    margin-bottom: 1.2rem;
    font-weight: 600;
    color: var(--color-gray-dark);
  }
  .wd-heading span {
    color: var(--color-purple);
  }
  .wd-subheading {
    font-size: 1.25rem;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: #666;
    max-width: 800px;
    margin: 0 auto 10rem;
  }

  .feature-div {
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .dotted-wave-img {
    position: absolute;
    top: 50%;
    left: 7rem;
    width: 80%;
    transform: translateY(-50%);
    z-index: 0;
    pointer-events: none;
  }

  .wd-feature1,
  .wd-feature2,
  .wd-feature3,
  .wd-feature4 {
    position: relative;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
  }

  .wd-feature1 {
    top: 2rem;
    left: 1rem;
  }
  .wd-feature2 {
    top: 5rem;
  }
  .wd-feature3 {
    left: -3rem;
    top: -1rem;
  }
  .wd-feature4 {
    top: 3.5rem;
  }

  .wd-circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--color-bg-feature);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }

  .wd-circle1 {
    background-color: var(--color-circle1);
  }
  .wd-circle2 {
    background-color: var(--color-circle2);
  }
  .wd-circle3 {
    background-color: var(--color-circle3);
  }
  .wd-circle4 {
    background-color: var(--color-circle4);
  }

  .wd-feature1 h4,
  .wd-feature2 h4,
  .wd-feature3 h4,
  .wd-feature4 h4 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: var(--color-blue);
  }

  #pera {
    width: 220px;
  }

  .reverse-pyramid p {
    margin: 0;
    font-size: 1rem;
    color: var(--color-gray-light);
    font-weight: 500;
    line-height: 1.5;
  }

  .wd-img {
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
  }
}
@media only screen and (min-width: 820px) and (max-width: 1020px) and (min-height: 1180px) and (max-height: 1360px) {
  .why-different {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    height: 669px;
    padding: 2rem 2rem;
    background-color: var(--color-white);
    text-align: center;
    background-size: 10px 10px;
    border: 1px solid red;
  }
  .wd-heading {
    font-size: 2.2rem;
    font-family: "Outfit", sans-serif;
    margin-bottom: 1.2rem;
    font-weight: 600;
    color: var(--color-gray-dark);
  }
  .wd-heading span {
    color: var(--color-purple);
  }
  .wd-subheading {
    font-size: 1.25rem;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    text-align: center;
    color: #666;
    max-width: 760px;
    margin: 0 auto 10rem;
  }
  .stats-bannerWD {
    width: 100vw;
    height: 580px;
    display: flex;
    flex-direction: column;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    padding: 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  .upper-div {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wd-heading {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .lower-div {
    width: 100%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }
  .stats-boxx {
    width: 320px;
    height: 120px;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: wrap;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  .stats-icon01 {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-circle1);
  }
  .stats-icon02 {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-circle2);
  }
  .stats-icon03 {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-circle3);
  }
  .stats-icon04 {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-circle4);
  }

  .sicon01 {
    width: 60%;
  }
  .sicon02 {
    width: 60%;
  }
  .sicon03 {
    width: 60%;
  }
  .sicon04 {
    width: 60%;
  }

  .stats-info h2 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  .stats-info p {
    font-size: 0.85rem;
    font-weight: 500;
  }
}

@media only screen and (min-width: 768px) and (max-height: 1200px) {
  .qualification-sec {
    width: 660px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 6rem;
    background-color: #fffbfb;
    border-top-right-radius: 7rem;
    border-bottom-left-radius: 7rem;
    box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.3);
    border: 1px solid red;
  }
  .mobile-heading {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
    color: #000;
  }

  .mobile-heading span {
    color: #5b47b0;
  }

  .mobile-subheading {
    font-size: 1.2rem;
    width: 25rem;
    font-weight: 300;
    text-align: center;
    color: var(--color-gray-dark);
    margin-bottom: 5rem;
  }
  .qualification__container {
    max-width: 800px;
    height: 60vh;
    margin-left: 1.7rem;
    margin-right: 1.7rem;
  }

  .qualification__tabs {
    display: flex;
    justify-content: center;
  }

  .qualification__section {
    grid-template-columns: initial;
  }

  .qualification__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 2.2rem;
  }

  .qualification__title {
    font-size: 1.7rem;
    color: var(--color-purple);
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  .qualification__subtitle {
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .qualification__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--color-purple);
    border-radius: 50%;
  }

  .qualification__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: #757575;
    transform: translate(6px, -7px);
  }
}

@media screen and (max-width: 660px) {
  .qualification-sec {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
    background-color: #fffbfb;
    border-top-right-radius: 6rem;
    border-bottom-left-radius: 6rem;
    box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.3);
  }
  .mobile-heading {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
    color: #000;
  }

  .mobile-heading span {
    color: #5b47b0;
  }

  .mobile-subheading {
    font-size: 1.2rem;
    width: 25rem;
    font-weight: 300;
    text-align: center;
    color: var(--color-gray-dark);
    margin-bottom: 2rem;
  }
  .qualification__container {
    max-width: 800px;
    height: 60vh;
    margin-left: 1.7rem;
    margin-right: 1.7rem;
  }

  .qualification__tabs {
    display: flex;
    justify-content: center;
  }

  .qualification__section {
    grid-template-columns: initial;
  }

  .qualification__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 2.2rem;
  }

  .qualification__title {
    font-size: 1.7rem;
    color: var(--color-purple);
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  .qualification__subtitle {
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .qualification__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--color-purple);
    border-radius: 50%;
  }

  .qualification__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: #757575;
    transform: translate(6px, -7px);
  }
}

@media screen and (max-width: 576px) {
  .qualification__section {
    grid-template-columns: initial;
  }
  .qualification__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: #757575;
    transform: translate(6px, -7px);
  }
  .qualification-sec {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
    background-color: #fffbfb;
    border-top-right-radius: 6rem;
    border-bottom-left-radius: 6rem;
    box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.3);
  }
  .mobile-heading {
    font-size: 2rem;
    padding: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
    color: #000;
  }

  .mobile-heading span {
    color: #5b47b0;
  }

  .mobile-subheading {
    font-size: 1rem;
    width: 20rem;
    font-weight: 300;
    text-align: center;
    color: var(--color-gray-dark);
    margin-bottom: 2rem;
  }
  .qualification__container {
    max-width: 800px;
    height: 65vh;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
  }

  .qualification__tabs {
    display: flex;
    justify-content: center;
  }

  .qualification__section {
    grid-template-columns: initial;
  }

  .qualification__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 2.2rem;
  }

  .qualification__title {
    font-size: 1.7rem;
    color: var(--color-purple);
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  .qualification__subtitle {
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .qualification__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--color-purple);
    border-radius: 50%;
  }
}

@media screen and (max-width: 380px) {
  .qualification__data {
    gap: 0.5rem;
  }
  .qualification__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: #757575;
    transform: translate(6px, -7px);
  }
  .qualification-sec {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 4rem;
    background-color: #fffbfb;
    border-top-right-radius: 6rem;
    border-bottom-left-radius: 6rem;
    box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.3);
  }
  .mobile-heading {
    font-size: 1.7rem;
    padding: 0 1rem;
    font-weight: 600;
    text-align: center;
    color: #000;
  }

  .mobile-heading span {
    color: #5b47b0;
  }

  .mobile-subheading {
    font-size: 1rem;
    width: 20rem;
    font-weight: 300;
    text-align: center;
    color: var(--color-gray-dark);
    margin-bottom: 2.5rem;
  }
  .qualification__container {
    max-width: 800px;
    height: 70vh;
    margin-left: 1.7rem;
    margin-right: 1.7rem;
  }

  .qualification__tabs {
    display: flex;
    justify-content: center;
  }

  .qualification__section {
    grid-template-columns: initial;
  }

  .qualification__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1rem;
  }

  .qualification__title {
    font-size: 1.2rem;
    color: var(--color-purple);
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  .qualification__subtitle {
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .qualification__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--color-purple);
    border-radius: 50%;
  }
}
