/* index.css */

/* 1. Import all variations of the Outfit font */
@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Pridi";
  src: url("./assets/fonts/Pridi-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pridi";
  src: url("./assets/fonts/Pridi-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none; /* Removes the scrollbar itself */
}
/* 2. Global resets & styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 3. Use Outfit as the default font */
html,
body {
  font-family: "Outfit", sans-serif;
  background-color: #ffffff;
  color: #000;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* 4. Container or .app styling */
.app {
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100vw;
  min-height: 100vh;

  /* border: 3px solid black; */
}
